h1{
 font-family: 'Lucida Sans';
 font-size: 300%;
 font-style: italic;
 text-align: center;
 text-decoration-line: underline;
}

.options{
    font-style: italic;
    font-size: 45px;
    color: darkblue;

}

a{
    font-size: 35px;
    color: red;


}
body{
    background-color: beige;

}
